
body{
  margin:0px;
  
}

nav{    
    font-size: 1.5em;
    .logo{
    width: 7rem;
    height: 7rem;
    }
}


//ESTILOS DE SHOP- ACOMODAR
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

  .item {
   text-align: center;
 
    
    button{
        height: 10%;
        width: 40%;
        background-color: rgb(241, 195, 12);
        border: 2px solid rgb(220, 156, 5);
        margin-bottom: 2rem;
        }
  }

 
.titulo{
  background-color: rgb(231, 227, 119);
  font-size: 2rem;
  text-align: center;
}

//LO PUSE PARA EL INDEX
img{
  width: 20rem;
  height: 20rem;
  border: solid 2px rgb(231, 235, 2);
  border-radius: 1rem;
}

.inicio{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
